@model CoursesViewModel

<section class="courses">
    <div class="breadcrumbs">
        <i class="fa-regular fa-house"></i>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <i class="fa-regular fa-chevrons-right"></i>
        <p>Courses</p>
    </div>
    <div class="heading-and-categories">
        <h1>Courses</h1>
        <div class="inputs">
            <div class="select-container">
                <select id="category-selection" onchange="updateFilter()">
                    <option value=0 selected>All categories</option>
                    @if (Model.Categories != null)
                    {
                        foreach(var category in Model.Categories)
                        {
                            <option value=@(category.Id)>@category.CategoryName</option>
                        }
                    }
                </select>
            </div>
            <div class="input-container">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input onkeyup="updateFilter()" id="search-courses" type="text" placeholder="Search courses">
            </div>
        </div>
    </div>
    <div id="courses-grid" class="courses-grid">
        @if (Model.Courses != null)
        {
            foreach (var course in Model.Courses)
            {
                <div class="grid-container">

                    @if (course.IsBestSeller)
                    {
                        <div class="best-seller">Best Seller</div>
                    }

                    <button><i class="fa-regular fa-bookmark"></i></button>
                    <img src="~/images/@course.ImageName" alt=@course.Title>
                    <a href="" class="content-container">
                        <h3>@course.Title</h3>
                        <p class="author">By @course.Author</p>

                        @if (course.DiscountedPrice != null)
                        {
                            <p class="discounted-price">$@course.DiscountedPrice <span>$@course.Price</span></p>
                        }

                        else
                        {
                            <p class="price">$@course.Price</p>
                        }
                        <div>
                            <i class="fa-regular fa-clock"></i>
                            <p>@course.Hours hours</p>
                            <i class="fa-regular fa-thumbs-up"></i>
                            <p>@course.LikesInPercent% (@(course.LikesInNumbers / 1000)K)</p>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
    <div class="pagnation">
        <a href=""><i class="fa-solid fa-chevron-left"></i></a>
        <a href="">1</a>
        <a class="previous" href="">2</a>
        <a class="active" href="">3</a>
        <a href="">4</a>
        <a href=""><i class="fa-solid fa-chevron-right"></i></a>
    </div>
</section>