@model AccountSavedCoursesViewModel

<section class="saved-courses">
    <div class="heading-and-delete">
        <h1>Saved Items</h1>
        <div class="delete-container">
            <button class="btn"><i class="fa-regular fa-trash"></i>Delete all</button>
        </div>
    </div>
    <div class="courses-grid">

    @if (!Model.CourseList.IsNullOrEmpty())
    {
        foreach (var item in Model.CourseList)
        {
            <div class="grid-container">

                @if (item.IsBestSeller)
                {
                    <div class="best-seller">Best Seller</div>
                }
                    
                <button title="Remove"><i class="fa-solid fa-bookmark"></i></button>
                <img src="~/images/@item.ImageName" alt="@item.Title">
                <a href="" class="content-container">
                    <h3>@item.Title</h3>
                    <p class="author">By @item.Author</p>

                    @if (item.DiscountedPrice != null)
                    {
                        <p class="discounted-price">$@item.DiscountedPrice <span>$@item.Price</span></p>
                    }

                    else
                    {
                        <p class="price">$@item.Price</p>
                    }

                    <div>
                        <i class="fa-regular fa-clock"></i>
                        <p>@item.Hours hours</p>
                        <i class="fa-regular fa-thumbs-up"></i>
                        <p>@item.LikesInPercent% (@(item.LikesInNumbers / 1000)K)</p>
                    </div>
                </a>
            </div>
        }
    }

    </div>
</section>